/* You can add global styles to this file, and also import other style files */
html, body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    background: #71D0C6 !important;
}
* {
    font-family: 'Rajdhani', sans-serif
}
@font-face {
    font-family: rustico;
    src: url(./assets/fonts/Rustico-Regular.otf);
}
.zr-link {
    cursor: pointer;
    color: d0d0d0;
    margin: 0px;
    &:focus {
        outline: 0 !important;
    }
    &:hover {
        color: #71D0C6;
    }
    &.active {
        color: white;
    }
    &.zr-link--admin {
        &:hover {
            color: #011f4b;
        }
    }
}
.zr-topbar {

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #5BA59E;
    padding: 5px 10px;
    font-size: 16px;
    margin: 0px important;
    display: flex;
    flex-wrap: wrap;
}
.zr-form-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
}
.zr-container {
    padding-top: 50px;
    &.zr-container__image {
        background-image: url(./assets/images/poring.png);
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: right;
    }
    &.zr-container__full-size {
        height: 100vh;
    }
}
.zr-font-size-36 { font-size: 36px; }
.zr-font-size-96 { font-size: 96px; }
.zr-title {
    p {
        font-family: Rustico !important;
    }
    color: white;
    font-size: 48px;
    &.zr-title__home {
        font-size: 96px;
        padding-top: 25%;
        width: calc(80%) !important;
        /* Safari */
        -webkit-transform: rotate(-10deg);
    
        /* Firefox */
        -moz-transform: rotate(-10deg);
    
        /* IE */
        -ms-transform: rotate(-10deg);
    
        /* Opera */
        -o-transform: rotate(-10deg);
    }
}

.zr-menu {
    background: #5BA59E;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    margin-left: 10px;
    max-width: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    text-align: center;
    color: #d0d0d0;
    &.open {
        max-width: 200px;
        text-align: left;
    }
    li {
        &.active {
            color: white;
        }
        p {
            padding: 10px 0px;
        }
    }
    &.zr-menu--admin {
        background: #005b96;
    }
}
.zr-menu__selected {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);
    padding-left: 30px;
    padding-bottom: 0px;
    color: white;
}

input {
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    min-width: 175px;
    &:focus {
        outline: 0 !important;
    }
    &::-moz-placeholder { 
        /* Firefox 19+ */
        color: white;
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color:white;
    }
    &:-ms-input-placeholder { 
        /* IE 10+ */
        color: white;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: white;
    }
}

.zr-icon {
    max-width: 15px;
}
.zr-input {
    min-width: 175px;
}


.dataTables_wrapper {
    background: #fafafa;
    margin: 10px 0px;
    padding:  10px 0px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    width: 100% !important;
    table {
      padding: 0px 10px;
      border-bottom: 0px !important;
      th {  
        text-align: center;
      }
      tbody {
        background: transparent !important;
        tr {
            background: transparent !important;
        }
      }
    }
    .dataTables_filter {
      padding-right: 30px;
      input {
        color: black !important
      }
    }
  
  }
  .dataTable {
    width: 100% !important;
  }
  .dataTables_length, .dataTables_empty {
    display: none;
  }
  .dataTables_info {
    margin: 10px;
  }
  .dataTables_paginate {
    .ellipsis::after {
      display: none;
    }
  }

  .zr-admin-container {
        background-color: #f5f5f5;
        color: black;
        border-radius: 5px;
        width: calc(100% - 30px) !important;
        padding: 20px;
  }

  .zr-box {
      
    background-color: #5BA59E;
    color: white;
    border-radius: 5px;
    width: calc(100% - 30px) !important;
    padding: 20px;
    .zr-box__article {
        border-radius: 5px;
        background-color: #42615e;
        padding: 20px;
        margin-bottom: 10px;
        .zr-box__article-title {
            font-weight: bold;
        }
    }
  }