<div class="zr-container">
    <div class="zr-title text-center mb-5">
        <p>Ragnarok Zero</p>
        <p>Renewal</p>
    </div>
    <div class="text-center">
        <span class="text-white d-flex flex-column zr-font-size-36">join in</span>
        <span class="zr-link text-white d-flex flex-column zr-font-size-96" style="color: #7289DA;" (click)="goDiscord()"><i class="fab fa-discord"></i></span>
        <span class="text-white d-flex flex-column zr-font-size-36">with us</span>
    </div>
</div>