
<div class="zr-container">
    <div class="zr-title text-center mb-3">
        <p>Ragnarok Zero</p>
        <p>Renewal</p>
    </div>
    <div class="zr-box">
        <div class="zr-box__article text-center">
            <div class="m-5">
                Toda donación será dedicada al mantenimiento y mejora del servidor y elementos de seguridad del mismo
            </div>
            <button class="btn btn-primary p-3" (click)="goTo()">
                <i class="fab fa-paypal"></i> <span class=""> Donate with Paypal</span>
            </button>
        </div>
    </div>
</div>