<div class="zr-container">
    <div class="zr-title text-center mb-3">
        <p>Ragnarok Zero</p>
        <p>Renewal</p>
    </div>
    <div class="zr-box">
        <div class="zr-box__article">
            <h3 class="zr-box__article-title pb-2">Ragnarok Online</h3>
            <div>
                Download kRO <small class="pr-2">[2.7 GB Aprox~] </small>
                <a class="zr-link" href="https://mega.nz/#!uyIXBQAZ!O9mYgTOATJ2m3nabV8pJ0Q-RyTZNK7u2uHWjDsNlXwQ">
                    <i class="zr-link text-white fas fa-cloud-download-alt"></i>
                </a> 
            </div>
        </div>
        <div class="zr-box__article">
            <h3 class="zr-box__article-title pb-2">Renewal Data Files</h3>
            <div>
                Download Renewal Data Files <small class="pr-2">[61.4 MB Aprox~] </small>
                <a class="zr-link" href="https://mega.nz/#!a3oyyArJ!RYEJX1xPQF10o_9Ud1TCa88S5qkeuHJ7tmyqecsYO2U">
                    <i class="zr-link text-white fas fa-cloud-download-alt"></i>
                </a> 
            </div>
        </div>
        <div class="zr-box__article">
            <h3 class="zr-box__article-title pb-2">Client</h3>
            <div>
                Download ZeRO Renewal Client <small class="pr-2">[14.3 MB Aprox~] </small>
                <a class="zr-link" href="https://mega.nz/#!riQhiCAB!h86cYlfuFKtJQDQTqausr1iq6A6kNVK7BUw3WMCD48k">
                    <i class="zr-link text-white fas fa-cloud-download-alt"></i>
                </a> 
            </div>
        </div>
        <div class="zr-box__article">
            <h3 class="zr-box__article-title pb-2">Instrucciones</h3>
            <div>
                <div>1. Descarga y descomprime Ragnarok Online del link arriba</div>
                <div>2. Descarga Renewal Data Files del link arriba y descomprime el contenido dentro de tu carpeta de Ragnarok Online</div>
                <div>3. Descarga el cliente del link arriba dentro de tu carpeta de Ragnarok Online</div>
                <div>4. Haz doble click en 2015-11-04aRagexe_patched.exe y comienza a jugar</div>
            </div>
        </div>
    </div>
</div>