<div class="zr-container">
    <div class="zr-title text-center mb-5">
        <p>Ragnarok Zero</p>
        <p>Renewal</p>
    </div>
    <form #forgot="ngForm">
        <div class="col-12" class="zr-form-container p-2">
          <label class="text-white pr-3"><i class="fas fa-user"></i></label>
          <input type="text" placeholder="User Name or Email" required [(ngModel)]="model.username" name="username" #username="ngModel"/>
        </div>
        <div class="col-12" class="zr-form-container p-3">
            <re-captcha [(ngModel)]="captcha" name="captcha" required [siteKey]="recaptcha" ></re-captcha>
        </div>
        <div class="col-12" class="zr-form-container pb-2">
            <button type="submit" class="btn btn-primary tlg-contact__btn-responsive" 
                [disabled]="!forgot.form.valid || disabled"
                (click)="onSubmit()">
                 Enviar Correo 
                <i class="fas fa-chevron-right pl-3"></i>
            </button>
        </div>
    </form>
</div>