<div class="col pb-5">
    <table datatable [dtOptions]="dtOptions" class="row-border hover text-black">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Base</th>
          <th>Job</th>
          <th>Sexo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.base_level }}</td>
          <td class="text-center">{{ item.job_level }}</td>
          <td class="text-center">{{ item.sex }}</td>
        </tr>
        <tr *ngIf="items?.length === 0">
          <td colspan="5">No Records</td>
        </tr>
      </tbody>
    </table>
  </div>