<ol>
  <li>
    <strong>Consideraciones</strong>
    <ol type="a">
      <li>
        Las siguientes reglas estan diseñadas en base al respeto y la buena convivencia del servidor, 
        la filosofía de los GMs sobre estas serán estudiadas inicialmente y la decisión tomada será en base a la política de tolerancia cero.
      </li>
      <li>
        Las reglas deben ser vistas como un código de conducta para mantener un respeto impecable dentro de la comunidad.
      </li>
      <li>
        Cualquier tipo transgresión a las reglas mencionadas en esta sección serán sometidas a revisión con evidencia y obtendran una reprimenda en consecuencia.
      </li>
      <li>
        Todas las reglas estan sometidas a cambios sin previo aviso.
      </li>
      <li>
        No se tolerará la promoción del odio o separatismo utilizando temas de controversia por tanto elementos como Política y Lenguaje Inclusivo 
        deben quedar fuera del juego.
      </li>
    </ol>
  </li>
  <li>
    <strong>Respeto</strong>
    
    <ol type="a">
      <li>
        Quedan prohibidas las siguientes formas de ofensa y discriminación en contra de jugadores y staff, entre ellas se incluyen: 
        Bullying, Insultos, Racismo, Clasismo, Sexismo, Xenofobia, Aporofobia, Homofobia, entre otros. 
        Entre las formas de ofensa y discriminación se incluyen: Nombres de personaje, nombres de tiendas, nombres de mascotas y nombres de clanes.
      </li>
      <li>
        Queda prohibido el proselitismo político dentro del servidor.
      </li>
      <li>
        Promoción de otros servidores.
      </li>
      <li>
        Soborno en cualquiera de sus formas.
      </li>
      <li>
        Publicación o promoción de contenido inapropiado para publico mayor de 8 años.
      </li>
      <li>
        Difamación o revelación de identidad de los miembros de la comunidad (incluyendo publicación en redes sociales).
      </li>
      <li>
        Impersonar a un miembro del staff. Esto incluye la utilización de las siguientes formas en nombres de Clanes, Mascotas, Personajes, y Tiendas: GM, GameMaster, Staff, entre otros.
      </li>
    </ol>
  </li>
  <li>
    <strong>Game Masters</strong>
    <ol type="a">
      <li>La decisión de un GM es indiscutible, en caso de que entre el staff se considere inapropiada se someterá a juicio interno</li>
      <li>Los GMs no regalan ni venden objetos de ningún tipo, ni proveeran ningún servicio de skills.</li>
      <li>Cualquier queja sobre un GM debe realizarse en el canal de soporte en el servidor de Discord de la comunidad</li>
      <li>Impersonar a un miembro del Staff está penado con la eliminación permanente de la cuenta</li>
      <li>Ignorar las ordenes de un Game Master sobre temas del juego será sancionado dependiendo de la gravedad</li>
    </ol>
  </li>
  <li>
    <strong>Cuentas</strong>
    <ol type="a">
      <li>El uso de la cuenta, contraseña, e items de la misma quedan en responsabilidad total del dueño. 
        El Staff o dueños del servidor no se hacen responsables por perdidas intangibles o tangibles de cualquiera de los elementos relacionados con la cuenta.</li>
      <li>Cualquier intento de estafa debe ser reportado inmediatamente.</li>
    </ol>
  </li>
  <li>
    <strong>Mods</strong>
    <ol type="a">
      <li>El uso de bots está penado con la eliminación total de la cuenta.</li>
      <li>El uso de elementos como Winsock Packet Editor, Autoclicking, Macro o cualquier programa externo similar está prohibido.</li>
      <li>El uso de RCX es totalmente aceptado</li>
      <li>La explotación de bugs para beneficio propio está prohibido</li>
      <li>En caso de Bot Hunting, se recomienda responder inmediatamente a los comentarios de otros jugadores para evitar confusiones, se utilizará un timelapse de 5 minutos entre preguntas, hasta un máximo de 3.</li>
    </ol>
  </li>
  <li>
    <strong>Jamming y Kill Steal</strong>
    <ol type="a">
      <li>Los monstruos agresivos pertenecen a quien los esté atacando.</li>
      <li>Hiding sobre un monstruo agresivo anula la posibilidad de un Kill Steal.</li>
      <li>El buffing a monstruos que ataquen a otros usuarios está prohibido.</li>
    </ol>
  </li>
  <li>
    <strong>Branches</strong>
    <ol type="a">
      <li>Prohibidas en ciudades.</li>
      <li>Monstruo invocado debe ser exterminado.</li>
      <li>Se sancionará en los casos que se considere que únicamente se utilizan para molestar a otros usuarios. Ejemplo: Llenar un mapa de monstruos mediante dead branches y no intentar matarlos.</li>
      <li>Si hay monstruos invocados en un mapa y no son reclamados son libres de ser eliminados por cualquier usuario.</li>
    </ol>
  </li>
  <li>
    <strong>MVPs</strong>
    <ol type="a">
      <li>Si una party o usuario está atacando un MVP queda prohibido atacarlo por otro usuario o hacer Kill Steal.</li>
      <li>Los miniboss no son MVPs.</li>
      <li>Hocus Pocus prohibidas en ciudades.</li>
    </ol>
  </li>
  <li>
    <strong>War of Emperium</strong>
    <ol type="a">
      <li>Cualquier usuario capturado haciendo trade a un enemigo durante WoE será penalizado.</li>
      <li>Queda prohibido entrar a un castillo sin emblema de un Guild.</li>
      <li>Queda prohibido entrar hacer ICE WALL fuera de los castillos.</li>
      <li>Las ventanas de Chat dentro de un castillo serán sancionadas.</li>
      <li>Las ventanas de Vending dentro de un castillo serán sancionadas.</li>
      <li>La utilización de un BUG para beneficio del gremio puede conllevar una sanción para todo el gremio.</li>
    </ol>
  </li>
  <li>
    <strong>Vending</strong>
    <ol type="a">
      <li>Solo en la ciudad comercial de Alberta, y otros mapas que no sean ciudades.</li>
      <li>Queda prohibido la venta de puestos comerciales.</li>
    </ol>
  </li>
  <li>
    <strong>Obstrucción</strong>
    <ol type="a">
      <li>El uso de ICE WALL para entorpecer paso queda sancionado.</li>
      <li>El uso de Mobbing para asesinar a otros jugadores en un mapa queda prohibido.</li>
      <li>Prohibido utilizar la habilidad 'Warp Portal' sobre jugadores muertos y resucitarlos para que se teleporten. Tampoco se permite sobre lugares de respawn (punto de aparición), tales como puntos de guardado o de teletransporte.</li>
      <li>El Spamming será sancionado.</li>
    </ol>
  </li>
  <li>
    <strong>Ventas por Dinero Real</strong>
    <ol type="a">
      <li>La venta de items por dinero real está permitida siempre y cuando un miembro del Staff la supervise.</li>
      <li>La venta de cuentas por dinero real es sancionable y el Staff no se hace responsable.</li>
    </ol>
  </li>
  <li>
    <strong>Rama de Alquimistas</strong>
    <ol type="a">
      <li>Los Alchemists y Creators que se encuentren en una mazmorra o campo con el homúnculo fuera tienen la obligación de responder a otros usuarios si exigen demostrar que no se encuentran ausentes. 
        Sin embargo, tampoco se permitirá el acoso con preguntas constantes para molestarlos. 
        Si responden, sólo se les deberá preguntar de nuevo tras varios minutos.</li>
      <li>No se permite la utilización de breeders, feeders, bots, growths o cualquier aplicación externa que alimente o haga que el usuario pueda estar sin interactuar mientras su homúnculo está activo.</li>
    </ol>
  </li>
</ol>
