<div class="zr-container">
    <div class="zr-title text-center mb-5">
        <p>Ragnarok Zero</p>
        <p>Renewal</p>
    </div>
    <form #signUp="ngForm">
        <div class="col-12" class="zr-form-container p-2">
          <label class="text-white pr-3"><i class="fas fa-user"></i></label>
          <input type="text" placeholder="User Name" required [(ngModel)]="model.username" name="username" #username="ngModel"/>
        </div>
        <div class="col-12" class="zr-form-container p-2">
          <label class="text-white pr-3"><i class="fas fa-key"></i></label>
          <input type="password" placeholder="Password" required maxlength="16" minlength="8" [(ngModel)]="model.password" name="password" #password="ngModel"/>
        </div>
        <div class="col-12" class="zr-form-container p-3">
            <re-captcha [(ngModel)]="model.captcha" name="captcha" required [siteKey]="recaptcha" ></re-captcha>
        </div>
        <div class="col-12" class="zr-form-container pb-2">
            <button type="submit" class="btn btn-primary tlg-contact__btn-responsive" 
                [disabled]="!signUp.form.valid || disabled"
                (click)="onSubmit()">
                 Sign In 
                <i class="fas fa-chevron-right pl-3"></i>
            </button>
        </div>
        <div class="text-center">
            <small class="col-12">
                 <a [routerLink]="'/sign-up'">Crear una cuenta</a>
            </small>
            <small class="col-12">
                 <a  [routerLink]="'/default/forgot-password'">Olvidé mi contraseña</a>
            </small>
        </div>
    </form>
</div>